@using Antlr.Runtime
@using Portfolio.Domain
@model IEnumerable<Projects>


<div class="container-fluid text-center">

    <h2>Projekty</h2>
</div>
  
<div class="container-fluid">

    @foreach (var p in Model)
    {
        
        if (p.Active == "Aktywny")
        {

            <div class="row row-centered">
                <div class="col-md-8 col-md-offset-2 col-centered">
                    <div class="panel panel-default">
                        <div class="panel-heading ">@p.Title</div>
                        <div class="panel-body flip" id="flip">
                            
                            @if (p.Images.Any())
                            {
                                <div class="col-md-3">
                                    <img class="img-responsive" src="@Url.Content(ViewBag.imagePath.ToString() + p.Images.FirstOrDefault().ThumbnailName)" alt=""/>
                                </div>
                            }


                            <div class="content">
                                <label>Data realizacji:</label>
                                @p.RealizationDate.ToString("dd/MM/yyyy")
                                <p>@p.Description</p>
                            </div>             
                            
                            <div id="panel" class="flip-panel col-md-9">                             
                                    @foreach (var img in p.Images)
                                    {                            
                                            <img class="img-responsive center-block" src="@Url.Content(ViewBag.imagePath.ToString() + img.Name)" alt="" />
                                          
                                    }                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>