@using Antlr.Runtime
@using Portfolio.Domain
@model IEnumerable<Projects>


<div class="container">

    <h3>Projekty</h3>

    @foreach (var p in Model)
    {
        
        if (p.Active == "Aktywny")
        {

            <div class="row row-centered">
                <div class="col-xs-12 col-centered">
                    <div class="panel panel-default">
                        <div class="panel-heading h3">@p.Title</div>
                        <div class="panel-body flip" id="flip">
                            
                            @if (p.Images.Any())
                            {
                                <div class="img-thumbnail pull-left">
                                    <img src="@Url.Content(ViewBag.imagePath.ToString() + p.Images.FirstOrDefault().ThumbnailName)" alt=""/>
                                </div>
                            }


                            <div class="content">
                                <label>Data realizacji:</label>
                                @p.RealizationDate.ToString("dd/MM/yyyy")
                                <p>@p.Description</p>
                            </div>             
                            
                            <div id="panel" class="col-xs-10 flip-panel">
                                @foreach (var img in p.Images)
                                {
                                    <img src="@Url.Content(ViewBag.imagePath.ToString() + img.Name)" alt="" style='height: 100%; width: 720px;'   />
                                    <br/>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>